.footer {
  background-color: var(--color700);
  margin-top: 60px;
  padding: 25px 0;
}
.contact {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.contact_title {
  font-size: clamp(15px, 4vw, 20px);
  border-bottom: 0.5px solid white;
  padding: 10px 0;
  width: fit-content;
}
.contact_icon {
  color: #ffffff;
  font-size: clamp(13px, 4vw, 15px);
}
.contact_text {
  font-size: clamp(13px, 4vw, 15px);
  color: #e6e6e6;
}

/* follow us section  */
.follow_us_icon {
  color: #ffffff;
  font-size: clamp(15px, 4vw, 20px);
}
/* send massage section */

.send_massage_text {
  resize: none;
}
